---
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPublishedPosts } from "../../lib/posts";
import { ui } from "../../lib/ui-classes";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
  return tags.map((tag) => ({
    params: { tag },
    props: { tag, posts: posts.filter((post) => post.data.tags.includes(tag)) },
  }));
}

const { tag, posts } = Astro.props;
---
<BaseLayout title={`Tag: ${tag}`}>
  <h1 class={ui.pageTitle}>#{tag}</h1>
  <PostList posts={posts} />
</BaseLayout>
