---
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPublishedPosts, getSeriesPosts } from "../../lib/posts";
import { slugify } from "../../lib/slug";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  const seriesNames = [...new Set(posts.map((post) => post.data.series))];
  return seriesNames.map((series) => ({
    params: { series: slugify(series) },
    props: { series, posts: getSeriesPosts(posts, series) },
  }));
}

const { series, posts } = Astro.props;
---
<BaseLayout title={`Series: ${series}`}>
  <h1 class="page-title">{series}</h1>
  <PostList posts={posts} />
</BaseLayout>
